@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face{
        font-family: 'netflix-font';
        src: url('Fonts/Netflix.woff2');
        font-weight: 500;
        font-style: normal;
    }

}